.App {
  text-align: center;
  background-color: rgb(58, 58, 58);
  vertical-align: top;
  padding-top: 20px;
  animation: background 20s infinite;
  background-image: linear-gradient(rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.753));
}
.bill{
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  display: inline-block;
  width: 600px;
  vertical-align: top;
}
.bill:hover{
  box-shadow: 0 0 10px rgb(211, 203, 203);
  cursor: pointer;
}
.inlineDiv{
  display: inline;
  margin: 10px;
}
.nameColumn{
  width: 32%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.topBox{
  width: 1240px;
  margin: 0px auto;
  border: 1px solid gray;  
  padding: 10px;
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
  vertical-align: top;
}
.voteCountArea{
  border: 1px solid gray;
  padding: 10px;
  margin-top: 20px;
}
.marginDiv{
  margin-top: 20px;
}
@keyframes background {
  0%{background-color: rgb(58, 58, 58);}
  25%{background-color: rgb(83, 68, 68);}
  50%{background-color: rgb(58, 58, 58);}
  75%{background-color: rgb(68, 68, 85);}
  100%{background-color: rgb(58, 58, 58);}
}
/* 75%{background-color: rgb(62, 72, 117);} */